/* style */

.list-container,
.photo-container {
    display: flex;
}

body {
    margin: 10px 50px;
    text-align: center;
}

h1 {
    color: white;
    background-color: goldenrod;
}

.list-container div {
    flex: 1;
    font-size: larger;
    background-color: goldenrod;
    margin: 4px;
    border: 2px solid black;
}

.photo-container img {
    flex: 1;
    height: 400px;
    margin: 4px;
}